@model DrDone.Areas.Admin.ViewModels.ProductIndex

@{
    ViewBag.Title = "Index";
}
<h1>Ürünler</h1>
<div class="btn-toolbar">
    <div class="col-8">
        <a href="@Url.Action("new")" class="btn btn-primary btn-sm ml-2 mr-2"><i class="fas fa-plus"></i> Create Product</a>
    </div>
    <div class="btn-group col-4">
        @if (Model.Product.HasPreviousPage)
        {
            <a href="@Url.Action(" index",new { Page=Model.Product.PreviousPage })" class="btn btn-primary btn-block">
                <i class="fas fa-chevron-left"></i> Önceki Sayfa
            </a>
        }
        else
        {
            <a href="#" class="btn btn-secondary btn-disabled btn-sm">
                <i class="fas fa-chevron-left"></i> Önceki Sayfa
            </a>
        }

        @if (Model.Product.HasNextPage)
        {
            <a href="@Url.Action("index",new { Page = Model.Product.NextPage})" class="btn btn-primary btn-sm">
                <i class="fas fa-chevron-right"></i> Sonraki Sayfa
            </a>
        }
        else
        {
            <a href="#" class="btn btn-secondary btn-disabled btn-sm">
                <i class="fas fa-chevron-right"></i> Sonraki Sayfa
            </a>
        }

    </div>
</div>
<table class="table table-striped mt-2">
    <thead>
    <th>
    <td></td>
    <td style="width:13%"></td>
    <td style="width:15%">Başlık</td>
    <td style="width:20%">Açıklama</td>
    <td style="width:15%">Kategori</td>
    <td style="width:10%">Tarih</td>
    <td class="text-center"></td>
    </th>
    </thead>
    <tbody>
        @foreach (var product in Model.Product)
        {
            var cls = "";
            if (product.IsDeleted)
            {
                cls = "danger";
            }
            <tr class="@cls">
                <td><a href="@Url.Action("Star",new { product.Id})" class="text-warning"> @if (product.Status == 2)
                {<i class="fas fa-star"></i>}
                else {<i class="far fa-star"></i>}</a></td>
                <td><img src="@Url.Content(product.Image)" class="img-thumbnail" /></td>
                <td>@product.Title</td>
                <td class="text-short">@product.DescriptionShort</td>
                <td>@string.Join(",", product.Category.Select(t => t.Name))</td>
                <td>@product.CreatedAt</td>
                <td class="text-center">
                    @if (!product.IsDeleted)
                    {
                        <div class="btn btn-group btn-group-sm">
                            <a href="@Url.Action("Edit",new { product.Id})" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
                            <a href="@Url.Action("trash", new { product.Id })" data-post="Çöp kutusuna taşınsın mı" class="btn btn-danger"><i class="fas fa-trash"></i> Çöp</a>
                            <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"></a>
                            <div class="dropdown-menu">
                                <a href="@Url.Action("delete", new { product.Id })" class="dropdown-item btn btn-danger" data-post="Tamamen kaldırmak istediğinize emin misiniz?"><i class="fas fa-trash"></i> sil</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a href="@Url.Action("restore", new { product.Id})" class="btn btn-sm btn-success">
                            <i class="fas fa-undo"></i> Geri Dön
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
