@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrDone - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @helper SelectedTabClass(string tabName)
    {
    
    @ViewBag.SelectedTab

        if (tabName == ViewBag.SelectedTab)
        {
            @:active
        }
    }
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="@Url.Content("~/home")" class="navbar-brand">DrDone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mr-auto>
                <li class="nav-item @SelectedTabClass(" Home")">@Html.ActionLink("Kullancılar", "index", new { controller = "users", Area = "Admin" }, new { @class = "nav-link" })</li>
                <li class="nav-item @SelectedTabClass("Product")">@Html.ActionLink("Ürünler", "index", new { controller = "product", Area = "Admin" }, new { @class = "nav-link" })</li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <li class="nav-item @SelectedTabClass("Admin")">@Html.ActionLink("Panel", "Home", new { controller = "Index", Area = "Admin" }, new { @class = "nav-link" })</li>
                        <li class="nav-item @SelectedTabClass("Logout")">@Html.ActionLink("Çıkış", "logout", new { controller = "user", Area = AreaReference.UseRoot }, new { @class = "nav-link" })</li>
                    }
                }
                else
                {
                    <li class="nav-item @SelectedTabClass("Login")">@Html.ActionLink("Giriş Yap", "login", new { controller = "user" }, new { @class = "nav-link" })</li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DrDone  </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
</body>
</html>
